name: Python Script
    
on:
  workflow_dispatch:
    
jobs:
  build:
    runs-on: [self-hosted]
    
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: Install Dependencies.
        run: |
            python -m pip install requests
      - name: Run Script
        run: |
            python work.py
